*{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.content{
	display:flex;
	justify-content: center;
}

.calculator{
	border: solid black 10px;
	width: 360px;
	height: auto;
}

.display{
	display:flex;
	width: auto;
	font-size: 50px;
	justify-content: flex-end;
	align-items: end;
	height: 80px;
	border: solid grey 5px;
	background-color: lightgrey;
}

.buttons{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

button{
	height: 75px;
	background-color: green;
}

.zero{
	grid-column: span 2;
}

.operators{
	background-color: yellow;
}

.helpers{
	background-color: blue;
}
