.calculator{
	border: solid black 10px;
	width: 360px;
	height: auto;
}

.display{
	display:flex;
	width: auto;
	font-size: 50px;
	justify-content: flex-end;
	align-items: end;
	height: 80px;
	border: solid grey 5px;
}

.buttons{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

button{
	height: 75px;
}

#zero{
	grid-column: span 2;
}
